
<h2> Trips You're Driving For </h2>
<% driver_convos.each do |convo| %>
  <%= link_to conversation_path(convo) do %>
  <div>
    <h3><%= convo.passenger.first_name.capitalize + " " + convo.passenger.last_name.capitalize  %> </h3>
      <% if convo.messages.count > 0 %>
        <p><%=convo.messages.last.text%></p>
      <%end %>
  </div>
  <%end%>
<%end%>