<div class='container'>

<div>
  <div id="message_head">
<h1> Message Center </h1>
</div>

<div class = "messages-divider" >
<%= render '/conversations/driver_convos' %>
</div>

<div class = "messages-divider" >
<%= render '/conversations/passenger_convos' %>
</div>



</div>