<div>
<h1> Welcome to the Message Center </h1>

<div class = "messages-divider" >
<%= render '/conversations/driver_convos' %>
</div>

<div class = "messages-divider" >
<%= render '/conversations/passenger_convos' %>
</div>