<div>
    <%= render '/conversations/conversation_header' %>
    <div id ="message-container">
      <%@conversation.messages.each do |message| %>
        <%= render partial: '/messages/message_template', locals: {message: message} %>
      <%end%>
    </div>
</div>

<div>
  <%= render '/messages/message_form' %>
</div>