<div class='container'>

<h1> Planned Trips </h1>

<a id='show_form' href='/searches/new'> Search Trips </a>

<%= render :partial => 'searches/form' %>



<div id='all_trips'>


	<%= render :partial => 'trips/all_trips' %>


</div>

</div>
