
<% if user_signed_in? %>


    <div id='new_trip_form'>
      <%= render 'trips/trip_form' %>
    </div>


    <% else %>

    <h2>PLEASE SIGN IN</h2>
    <% end %>









    <%# f.label(:driver_id, 'Driver Profile') %>
    <%# f.text_area(:driver_id) %>
    <%# f.label(:car_id, 'Car Description') %>
    <%# f.text_area(:car_id) %>