

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 *= require_tree
 */
 .hidden {
  visibility: visible;
 }


#header {
height:50px;
    background:#333;
    border:1px solid #CCC;
    width:975px;
    margin:0px auto;
    font: white;
    font-family:  LeagueGothicRegular, Helvetica, Arial, Sans Serif;
    color: white;
}

a button{
  color: white;
}





.nav_button1{
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #FFB566;
  border-radius: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow:    1px 1px 1px 1px #8080FF;
  -webkit-box-shadow: 1px 1px 1px 1px #8080FF;
  box-shadow:         1px 1px 1px 1px #8080FF;

    -webkit-transition: width 1s;
    transition:1s
    transition:1s



}

.nav_button1:hover {
    width: 45px;
    height: 45px;
    transition:1s

}

.nav_button2{
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #FFB566;
  border-radius: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow:    1px 1px 1px 1px #8080FF;
  -webkit-box-shadow: 1px 1px 1px 1px #8080FF;
  box-shadow:         1px 1px 1px 1px #8080FF;
-webkit-transition:1s;
    transition:1s
    transition:1s

}

.nav_button2:hover {
  width: 45px;
  height: 45px;
  transition:1s
}

.nav_button3{
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #FFB566;
  border-radius: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow:    1px 1px 1px 1px #8080FF;
  -webkit-box-shadow: 1px 1px 1px 1px #8080FF;
  box-shadow:         1px 1px 1px 1px #8080FF;
  -webkit-transition: width 1s;
  transition:1s
  transition:1s

}

.nav_button3:hover{
  width: 40px;
  height: 40px;
  transition: 1s

}





table#nav_buttons{
  float: right;
  padding: auto;
}

div#header h1 {
  float:left;
  padding:auto;


}
#header button{
  background:#EEEEEE;
  height: 100%;
}

#header a {
  color :#373737;
  float: right;
   height: 100%;
}

#header form {
  color :#373737;
  float: right;
}

footer {
  line-height: 15em;
  text-align: center;
  background: #BBB;
}


#head {
    background: #333;
}


#driver_profile:hover{
  background-color: #FDC468
}


/*div {
<<<<<<< HEAD
	border: thin solid black
}*/




/*div {
=======
>>>>>>> master
  border: thin solid black;
}*/


.container {
  margin-top: 50px;
  max-width: 1240px;
  background-color: white;

}



#header button{

  height: 3em;
/*border-radius: 25px;*/
/*-moz-box-shadow:    1px 1px 3px 5px #8080FF;
-webkit-box-shadow: 1px 1px 3px 5px #8080FF;
box-shadow:         1px 1px 3px 5px #8080FF;*/

}

#head_er {
    background: #333;
    color: white;
}

td:nth-child(2){
    padding-right: 10px;
}

td:nth-child(3) {
    padding-right: 10px;
}​

td:nth-child(4) {
    padding-right: 10px;
}​
