// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.

// You can use Sass (SCSS) here: http://sass-lang.com/
$visual-grid: true;

 
#hidden_form {
  background: rgba(0,0,0,0.1);
}

#header {
  color: #FFF;
  font-weight: bold;
  position: fixed;
  top: 0;
}

#homediv{

    overflow-y: scroll;
    width: 100%;
    height: 1300px;

}

#homediv nav {
    margin-top: 825px;
    z-index: 1000;
    background-color: white;
}

#sticky {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: -1;
}

#driver_story {
background: rgba(0,0,0,0.5);
 display: block;
    margin: 0 auto;
    height: 625px;;

  }

  #driver_pic {
  float: right;
  }

  #passenger_story {
  background: rgba(0,0,0,0.5);
  height: 625px;
  }