// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



   .profile img {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

  #user_info {
    line-height:30px;
    height:150px;
    width:250px;
    margin-left: 446px;

}

  #view_user {
    line-height:30px;
    height:150px;
    width:250px;
    margin-left: 446px;

}

#drag_stack {
position: center;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.car_details img {
    position: static;
    display: inline;
    float-left: 600px;
    float-right: 200px;
    margin-left: 300px;
    height: 250px;
    width: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}

.container h1{
    margin-left: 35px;
}

.container h2 {
    margin-left: 25px;
}




a.upcoming_trip{
    text-decoration: none;
    color: black;
}

div.upcoming:hover{
    background-color: red;
}

