// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    div.prof-container{
        width: 100%;
    }

    .profile {
    width: 320px;
    float: left;
    height: 320px;
    margin: auto;
    padding-right: 400px;
    }

    div.user_info {
    padding-top: 50px;
    width: 300px;
    float: left;
    height: 150px;
    margin-right: auto;
    font-size: 20px;
    }


   .profile img {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}



  #view_user {
    line-height:30px;
    height:150px;
    width:50%;
    margin-left: 446px;

}

#drag_stack {
position: center;
    left: 0px;
    top: 0px;
    z-index: -1;
}

div#car_details {
    float: left;
    width: 100%;
    border-bottom: black 1px;

}

div#car_details img {
    position: static;
    display: inline;
    height: 150px;
    width: 300px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    border-radius: 5%;

}

div#car_title {
    border-bottom: solid black 1px;
}

.container h1{
    margin-left: 35px;
}

.container h2 {
    color:#D97000;
    margin-left: 25px;
}

div#trip {
    margin-top: 50px;
    width: 100%;
    float: left;
}


a.upcoming_trip{
    text-decoration: none;
    color: black;

}

div.upcoming{
    border-top: solid black 1px;
}

div.upcoming:hover{
    background-color: #EA9F1E;
}

.thumb_nail {
    height:50px;
    width:50px;
    border-radius: 25px;
}

