<div id='homediv'> 
	<div id='sticky' style="height: 100%;">
<video autoplay loop style="width: 100%; position: fixed;">
  <source src="/assets/cloud.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
	</div>

<nav>
<% if user_signed_in? %>
<div id = 'story_div' >
	
	<h1 style="margin: 0; text-align: center;">What would you like to do?</h1>

	<div id = 'driver_story' class = 'col span_6'>

		<%= link_to image_tag('steering_wheel_orange.png', :class => 'col span_6', id: 'driver_pic'), new_trip_path%>
	</div>

	<div id = 'passenger_story' class = 'col span_6'>
		<%= link_to image_tag('passenger_orange.png',  :class => 'col span_6', id: 'passenger_pic'), trips_path %>
	</div>
</div>
<% else %>
	<h1>Please Sign In</h1>

<% end %>


<% if user_signed_in?  %>
	<div class="row" hidden id = 'hidden_form' >
		<%= render "trips/trip_form" %> 
	</div>

<% end %>
</nav>
</div>