<% if !user_signed_in? %>

<h1>What would you like to do?</h1>
<div id = 'driver_story'>

<%= image_tag 'Untitled.jpg', :id => 'wheel', width: '400', height: '400' %>  
</div>

<div id = 'passenger_story'>
<%= image_tag 'Passenger.png',  :id => 'passenger', width: '400', height: '400' %>  
</div>

<% end %>

