<% if user_signed_in? %>

	<h1>What would you like to do?</h1>

	<div id = 'driver_story col' class = 'col span_6'>
		<%= link_to image_tag('Untitled.jpg', :class => 'col span 6'), new_trip_path%>

	</div>

	<div id = 'passenger_story' class = 'col span_6'>
		<%= link_to image_tag('Passenger.png',  :class => 'col span 6'), trips_path %>

	</div>
</div>
<% else %>
	<h1>Please Sign In</h1>

<% end %>



