
<div  id='homediv'> 
	<div id='sticky' style="height: 100%;">

<video controls muted autoplay loop style="width: 100%; position: fixed;">
  <source src="/assets/cloud.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>


	</div>
<div class='container'>

	<button href='#'  id='all-form-slider' > Please Sign In </button>
<nav>
<% if !user_signed_in? %>


	
	<div id='sign-forms' >
		<a href="#" id='hidden_sign_up'> Switch Sign In/Sign Out </a>
		<div id ='sign-in-div'>
			<%= render "devise/partials/sign_in" %>
		</div>

		<div hidden id='sign-up-div'>
			<%= render "devise/partials/sign_up" %>
		</div>
	</div>

<% end %>














	<div <% if !user_signed_in? %> hidden <% end %> id='story-collections'>
		<h1 style="margin: 0; text-align: center;">What would you like to do?</h1>


	

	<div id = 'driver_story' class = 'col span_6'>
		<%= link_to image_tag('steering_wheel_orange.png', :class => 'col span_6',  id: 'driver_pic'), new_trip_path %>
	</div>

	<div id = 'passenger_story' class = 'col span_6'>
		<%= link_to image_tag('passenger_orange.png',  :class => 'col span_6', id: 'passenger_pic'), trips_path %>
	</div>

	</div>



	


</nav>




	<div class="row" hidden id = 'hidden_form' >

</div>
</div>