<div id='homediv'> 
	<div id='sticky'>
<video autoplay loop style="width: 100%; position: fixed;">
  <source src="/assets/mudfest.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
	</div>

<nav>
<% if user_signed_in? %>
	
	<h1 style="margin: 0; text-align: center;">What would you like to do?</h1>

	<div id = 'driver_story' class = 'col span_6'>

		<%= link_to image_tag('Untitled.jpg', :class => 'col span_6', id: 'driver_pic'), new_trip_path%>
	</div>

	<div id = 'passenger_story' class = 'col span_6'>
		<%= link_to image_tag('Passenger.png',  :class => 'col span_6', id: 'passenger_pic'), trips_path %>
	</div>

<% else %>
	<h1>Please Sign In</h1>

<% end %>


<% if user_signed_in?  %>
	<div hidden class = 'container' id = 'hidden_form' >
		<%= render "trips/trip_form" %> 
	</div>

<% end %>
</nav>
</div>